.row {
    margin: 10px;
}

.card-body{
    padding-right: 580px;
}

.input-value {
    border: transparent;
    width: 100px;
}

  
  .scrolling-box {
    z-index: 100;
    display: flexbox;
    background-color: #eaeaea;
    height: 550px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
    width: 120px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.caja {
    left: 1245px;
    margin: auto;
    top: 0px;
}

.row-div{
    display: inline;
    margin: 10px;
    padding: 50px;
}

.caja-2 {
    left: 810px;
    margin: auto;
    top: 0px;
}

.scrolling-box-2 {
    z-index: 100;
    display: flexbox;
    background-color: #eaeaea;
    height: 550px;
    scroll-behavior: smooth;
    text-align: center;
    width: 430px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.caja-footer {
    bottom: 0px;
}

.caja-footer-2 {
    bottom: 0px;
    left: 740px;
}